table {
  width: 90%;
  margin: 20px;
  flex: 1;
  background-color: #244157;
  align-content: center;
  overflow-y: scroll;
}

table th,table td{
  text-align: center;
}

button{
  margin: 5px 5px 20px 5px;
}

.container-column{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
}

h2{
  flex: 1;
  color: white;
  text-align: center;
  font-family: SansSerif, serif;
}


.table th{
  padding: 0 10px;
}

.print{
  color: #022b3d;
}
