<header>
  <ng-template [ngIf]="isLogged()">
    <div class="header">
      <div class="align-left">
      <button mat-raised-button color="accent" (click)="router.navigate(['home'])">Начална страница</button>
        <button mat-raised-button color="accent">Календар</button>
        <ng-template [ngIf]="isManager()">
          <button mat-raised-button color="accent" (click)="router.navigate(['workleaves'])">Всички отпуски</button>
        </ng-template>
      <ng-template [ngIf]="isAdmin()">
        <button mat-raised-button color="accent" (click)="router.navigate(['workleaves'])">Всички отпуски</button>
        <button mat-raised-button color="accent" (click)="router.navigate(['workleaves'])">Всички приети отпуски</button>
        <button mat-raised-button color="accent" (click)="router.navigate(['users'])">Всички потребители</button>
        <button mat-raised-button color="accent" (click)="router.navigate(['inactive-users'])">Всички неактивни потребители</button>
        <button mat-raised-button color="accent">Всяка месторабота</button>
        <button mat-raised-button color="accent">Всяка длъжност</button>
        <button mat-raised-button color="accent">Промяна на фирмената информация</button>
      </ng-template>
    </div>
    <div class="align-right">
        <button mat-button [matMenuTriggerFor]="menu" class="align-right menu">Меню
          <img  src="./assets/img/Sample_User_Icon.png" alt="user img" class="img">
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="openDialog()">Моята информация</button>
          <button mat-menu-item (click)="onLogOut()">Изход</button>
        </mat-menu>
    </div>
    </div>
  </ng-template>
</header>
