.header{
  background-color: #244157;
  display: flex;
  padding: 5px 20px;
}

.header button{
  margin: 20px 5px;
  color: #022b3d;
}
.header-div-flex1{
  flex : 1;
}
.header-div-flex3{
  flex : 3;
}
.menu{
  background-color: #b1f6f4;
  border-radius: 50px;
  margin: 20px 5px;
  align-content: end;
}

.img {
  height: 20px;
  width: 20px;
}
