<div class="otherData">
  <form (ngSubmit)="submitCompanyData()">
    <div class="companyData" *ngIf="companyInfo">
      <h2>Информация за компанията </h2>
      <mat-form-field appearance="fill">
        <mat-label>Име на компанията:</mat-label>
        <input type="text" matInput [formControl]="nameFC" placeholder=" ">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Име на управителя:</mat-label>
        <input type="text" matInput [formControl]="CEOnameFC" placeholder=" ">
      </mat-form-field>
      <button mat-raised-button color="accent" type="submit">Промени информацията на компанията</button>
    </div>
  </form>
  <div class="flexRow">
    <div>
      <h2>Месторабота</h2>
      <button mat-raised-button color="accent" class="buttonMargin" (click)="createWorkplace()">Създай месторабота</button>
      <table mat-table *ngIf="workplaces && workplaces.length > 0" [dataSource]="workplaces" class="mat-elevation-z8 dataTable">

        <ng-container matColumnDef="name" >
          <th mat-header-cell *matHeaderCellDef> Име </th>
          <td mat-cell *matCellDef="let workplace"> {{workplace.workplace}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> Действие</th>
          <td mat-cell *matCellDef="let workplace">
            <button mat-raised-button color="accent" (click)="deleteWorkplace(workplace.id)">Изтрий</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <div>
      <h2>Длъжности</h2>
      <button mat-raised-button color="accent"  class="buttonMargin" (click)="createJobTitle()">Създай длъжност</button>
      <table mat-table *ngIf="jobTitles &&  jobTitles.length > 0" [dataSource]="jobTitles" class="mat-elevation-z8 dataTable">

        <ng-container matColumnDef="name" >
          <th mat-header-cell *matHeaderCellDef> Име </th>
          <td mat-cell *matCellDef="let job"> {{job.jobTitle}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> Действие</th>
          <td mat-cell *matCellDef="let job">
            <button mat-raised-button color="accent" (click)="deleteJobTitle(job.Id)">Изтрий</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>

</div>
